.user-container {
  background-color: #2E3B4E;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: #2e3b4e;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.02);
}

.card-body {
  background-color: #3A475C;
}

.card-title {
  color: #FFCC00;
}

.card-subtitle {
  color: #A5B1C2;
}

.list-group-item {
  border: none;
  background-color: #3A475C;
  color:white;
}

.card-footer {
  background-color: #2E3B4E;
  border-top: 1px solid #A5B1C2;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.Buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  margin: 0 5px;
  padding: 8px 12px;
  font-size: 14px;
}

.btn-primary {
  background-color: #FFCC00;
  border-color: #FFCC00;
  color: #11101D;
}

.btn-primary:hover {
  background-color: #FFD700;
  border-color: #FFD700;
  color: #11101D;
}
