<div class="task-container container mt-5">
  <h2 class="text-center mb-4">Liste des Tâches</h2>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4"  *ngFor="let task of listTasks">
      <div class="card task-card h-100">
        <div class="card-body">
          <h5 class="card-title">{{task.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{task.status}}</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Description:</strong> {{task.description}}</li>
            <li class="list-group-item"><strong>Project ID:</strong> {{task.projectId}}</li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">

            <a class="btn btn-primary btn-sm" [routerLink]="'/Resource/' + task.id">Update</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
