
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="sidebar" [class.close]="isSidebarClosed" id="sidebar">
  <div class="logo-details">
    <i class='bx bx-support icon'></i>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
      <i class='bx bx-menu'></i>
    </button>
  </div>
  <ul class="nav-list">
    <li>
      <i class='bx bx-search'></i>
      <input type="text" placeholder="Search...">
      <span class="tooltip">Search</span>
    </li>

    <li>
      <a routerLink="main">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>

    <li>
      <a routerLink="userc">
        <i class='bx bx-user'></i>
        <span class="links_name">User alaa</span>
      </a>
      <span class="tooltip">User</span>
    </li>
  </ul>
</div>

<section class="home-section">

  <!--   //// Header ////   -->

  <div id="header">
    <div class="header uboxed">
      <ul class="logo">
        <li id =lo>
          <img class="logoo" src="./assets/images/logoImgs.png" alt="Fimanbol">
        </li>
      </ul>
      <ul class="menu">
        <li><img src="https://byjaris.com/code/icons/home-alt.svg" alt="Fimanbol"></li>
        <li><img src="https://byjaris.com/code/icons/menu-alt.svg" alt="Fimanbol"></li>

      </ul>
    </div>
  </div>
  <div class="header-space"></div>

  <!--    Contenu    -->


  <div style="padding: 80px">


    <div class="project" *ngIf="selectedProject">
      <div class="add-project">
        <button mat-raised-button color="primary" (click)="showAddProjectForm()">
          Ajouter un projet
        </button>
      </div>

      <!-- Liste des projets disponibles -->
      <button mat-raised-button color="basic" (click)="getAllProject()">Toutes les Projets</button>
      <div class="project-list">
        <div class="search-bar">
          <mat-form-field appearance="outline">
            <mat-label>Rechercher un projet</mat-label>
            <input matInput placeholder="Entrez le nom du projet" [(ngModel)]="nameSearched">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="searchProjectByName()">
            Rechercher
          </button>
        </div>
        <h2>Projets Disponibles</h2>

        <div *ngFor="let project of projects" class="project-card">
          <h3>{{ project.name }}</h3>
          <p>Description : {{ project.description }}</p>
          <p>Date de début : {{ project.startDate | date }}</p>
          <p>Date de fin : {{ project.endDate | date }}</p>
          <p>budget : {{ project.budget}}</p>

          <!-- Boutons pour modifier, supprimer et voir les tâches -->
          <div class="project-actions">
            <button mat-raised-button color="accent" (click)="editProject(project)">
              Modifier
            </button>
            <button mat-raised-button color="warn" (click)="deleteProject(project.id)">
              Supprimer
            </button>
            <button mat-raised-button color="primary" (click)="viewTasks(project.id)">
              Voir les tâches
            </button>
          </div>
        </div>
      </div>
      <div class="controls">
        <button mat-raised-button (click)="toggleSortProjectOrder()">
          <mat-icon>{{ ascending ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          {{ ascending ? 'Ascendant' : 'Descendant' }}
        </button>
      </div>
      <mat-paginator
        [pageSize]="5"
        [length]="totalItems"
        (page)="onPageProjectChange($event)"
      ></mat-paginator>
    </div>


    <div class="task" *ngIf="selectedProjectTasks">
      <div class="add-task">
        <button mat-raised-button color="primary" (click)="showAddTaskForm()">
          Ajouter une task
        </button>
      </div>
      <button mat-raised-button color="basic" (click)="viewTasks(idProjectSelected)">Toutes les Taches</button>
      <div class="task-list">
        <div class="search-bar">
          <mat-form-field appearance="outline">
            <mat-label>Rechercher une tache</mat-label>
            <input matInput placeholder="Entrez status du tache" [(ngModel)]="statusSearched">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="searchTasksByStatus()">
            Rechercher
          </button>
        </div>
      </div>
      <!-- Affichage des tâches liées au projet sélectionné -->
      <div class="task-list">
        <h2>Tâches du projet</h2>

        <div *ngFor="let task of tasks" class="task-card">
          <h3>{{ task.title }}</h3>
          <p>Description : {{ task.description }}</p>
          <p>Statut : {{ task.status }}</p>

          <!-- Boutons pour modifier, supprimer et afficher les ressources -->
          <div class="task-actions">
            <button mat-raised-button color="accent" (click)="editTask(task)">
              Modifier
            </button>
            <button mat-raised-button color="warn" (click)="deleteTask(task.id,task.projectId)">
              Supprimer
            </button>
            <button mat-raised-button color="primary" (click)="viewResources(task.id)">
              Voir les ressources
            </button>
          </div>
        </div>
      </div>
      <div class="controls">
        <button mat-raised-button (click)="toggleSortTaskOrder()">
          <mat-icon>{{ ascending ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          {{ ascending ? 'Ascendant' : 'Descendant' }}
        </button>
      </div>
      <mat-paginator
        [pageSize]="5"
        [length]="totalItems"
        (page)="onPageTaskChange($event)"
      ></mat-paginator>
      <button mat-raised-button color="basic" (click)="goBackToProjects()">Retour aux Projets</button>
    </div>



    <div class="task" *ngIf="selectedTaskResources">
      <div class="add-ressource">
        <button mat-raised-button color="primary" (click)="showAddRessourceForm()">
          Ajouter une Ressource
        </button>
      </div>
      <button mat-raised-button color="basic" (click)="viewResources(idTaskSelected)">Toutes les ressources</button>
      <div class="search-bar">
        <mat-form-field appearance="outline">
          <mat-label>Rechercher une Ressource</mat-label>
          <input matInput placeholder="Entrez type du ressource" [(ngModel)]="typeSearched">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="searchRessourcesByType()">
          Rechercher
        </button>
      </div>
      <!-- Affichage des ressources associées à une tâche -->
      <div class="resource-list">
        <h2>Ressources associées</h2>
        <div *ngFor="let resource of ressources" class="resource-card">
          <h3>{{ resource.name }}</h3>
          <p>Type : {{ resource.type }}</p>
          <p>Quantité : {{ resource.quantity }}</p>

          <!-- Boutons pour modifier et supprimer la ressource -->
          <div class="resource-actions">
            <button mat-raised-button color="accent" (click)="editResource(resource)">
              Modifier
            </button>
            <button mat-raised-button color="warn" (click)="deleteResource(resource.id,resource.taskId)">
              Supprimer
            </button>
          </div>
        </div>
      </div>
      <div class="controls">
        <button mat-raised-button (click)="toggleSortRessourceOrder()">
          <mat-icon>{{ ascending ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
          {{ ascending ? 'Ascendant' : 'Descendant' }}
        </button>
      </div>
      <mat-paginator
        [pageSize]="5"
        [length]="totalItems"
        (page)="onPageRessourceChange($event)"
      ></mat-paginator>
      <button mat-raised-button color="basic" (click)="goBackToTasks()">Retour aux tâches</button>
    </div>


    <div class="project-form-container" *ngIf="isFormProject">
      <h2>{{ isEditMode ? 'Modifier le projet' : 'Ajouter un projet' }}</h2>

      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Nom du projet</mat-label>
          <input matInput placeholder="Nom du projet" formControlName="name" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description" required></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date de début</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="startDate" required>
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date de fin</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="endDate" required>
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Budget</mat-label>
          <input matInput type="number" placeholder="Budget" formControlName="budget">
        </mat-form-field>
        <p *ngIf="message" class="message success-message">{{ message }}</p>
        <div class="actions">
          <button mat-raised-button color="primary" type="submit">{{ isEditMode ? 'Mettre à jour' : 'Ajouter' }}</button>
        </div>
      </form>
      <button mat-raised-button color="basic" (click)="goBackInProjectForm()">Retour aux Projets</button>
    </div>


    <div class="task-form-container" *ngIf="isFormTask">
      <h2>{{ isEditTaskMode ? 'Modifier la tâche' : 'Ajouter une tâche' }}</h2>

      <form [formGroup]="taskForm" (ngSubmit)="onSubmitTask()">
        <mat-form-field appearance="outline">
          <mat-label>Titre de la tâche</mat-label>
          <input matInput placeholder="Titre de la tâche" formControlName="title" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" formControlName="description" required></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Statut</mat-label>
          <input matInput placeholder="Statut" formControlName="status" required>
        </mat-form-field>

        <p *ngIf="message" class="message success-message">{{ message }}</p>
        <div class="actions">
          <button mat-raised-button color="primary" type="submit">
            {{ isEditTaskMode ? 'Mettre à jour' : 'Ajouter' }}
          </button>
        </div>
      </form>
      <button mat-raised-button color="basic" (click)="goBackInTaskForm()">Retour aux Taches</button>
    </div>


    <div class="resource-form-container" *ngIf="isFormRessource">
      <h2>{{ isEditResourceMode ? 'Modifier la ressource' : 'Ajouter une ressource' }}</h2>

      <form [formGroup]="resourceForm" (ngSubmit)="onSubmitResource()">
        <mat-form-field appearance="outline">
          <mat-label>Nom de la ressource</mat-label>
          <input matInput placeholder="Nom de la ressource" formControlName="name" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <input matInput placeholder="Type" formControlName="type" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Quantité</mat-label>
          <input matInput type="number" placeholder="Quantité" formControlName="quantity" required>
        </mat-form-field>

        <p *ngIf="message" class="message success-message">{{ message }}</p>
        <div class="actions">
          <button mat-raised-button color="primary" type="submit">
            {{ isEditResourceMode ? 'Mettre à jour' : 'Ajouter' }}
          </button>
        </div>
      </form>
      <button mat-raised-button color="basic" (click)="goBackInRessourceForm()">Retour aux Ressources</button>
    </div>



  </div>



</section>


<script src="https://byjaris.com/code/libs/jquery.min.js"></script>
<script src="https://byjaris.com/code/libs/wow.js"></script>
<script></script>





