@import url('https://byjaris.com/code/fonts/poppins.css');
@import url('https://byjaris.com/code/fonts/roboto.css');

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: Poppins;
  margin: 0;
}

.sidebar {
  position:fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: #2d3e50;
  padding: 6px 14px;
  box-sizing: border-box;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 78px;
  transition: all 0.5s ease;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 1;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 1;
  transition: all 0.6s ease-in;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 0;
  transition: all 0.3s ease-in;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: center;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  padding-left: 0;
  height: 100%;
}
.sidebar .nav-list {
  left: -300px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.sidebar .nav-list::-webkit-scrollbar {
  display: none;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 9;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  display: none;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: block;
}
.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 12px;
  transition: all 0.1s ease;
  background: #1b2735;
  padding: 0 15px 0 60px;
  box-sizing: border-box;
}
.sidebar.open input {
  width: 50px;
  padding: 0;
  transition: all 1.2s ease;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1c2430;
  color: #FFF;
}
.sidebar.open .bx-search:hover {
  background: #374555;
  color: #FFF;
}
.sidebar .bx-search:hover {
  background: #FFF;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #1b2735;
}
.sidebar li a:hover {
  background: #f7c400; /* Jaune pour l'accent de construction */
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 1;
  pointer-events: none;
  transition: all ease-in 0.3s;
}
.sidebar.open li a .links_name {
  opacity: 0;
  pointer-events: auto;
  transition: all ease-in 0.3s;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 250px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  box-sizing: border-box;
  background: #1b2735;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 78px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1c2430;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 78px;
  background: none;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1c2430;
  max-width: 100%;
  transition: all 0.5s ease;
}

.home-section {
  position: relative;
  background-color: #e0e0e0; /* Gris clair pour le contraste */
  min-height: 100vh;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .text {
  display: inline-block;
  color: #1b2735;
  font-size: 25px;
  font-weight: 500;
  padding: 36px 36px 0;
  box-sizing: border-box;
}

#header {
  width: 100%;
  height: 72px;
  position: fixed;
  padding: 0 36px 0 270px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  background: #2d3e50; /* Bleu foncé */
  color: #fff;
  z-index: 999;
  transition: all ease-in-out 0.3s;
  font-family: Roboto;
}
#header.open{
  padding: 0 36px 0 111px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}
